{% extends "index.html" %}

{% block contenido %}
<h1>Acerca de Canito.</h1>

<h2>Amamos a los animales.</h2>

<body>Canito es un proyecto que se pensó como una manera de colaborar con una comunidad dedicada al voluntariado y rescatismo de animales.
    Aunque siempre ha existido buena voluntad e iniciativas para ayudar y mejorar la calidad de vida de animales callejeros y abandonados,
    en ocasiones han sido escasas las herramientas al alcance de los voluntarios y rescatistas.
    Por ese motivo, nació Canito como un espacio para reunir a voluntarios de toda clase y facilitarles algunas de las herramientas que
    podrán ayudarles a cambiar las vidas de más y más animales cada día.
    Inicialmente, Canito está pensado para funcionar como una plataforma del voluntariado en general. Algunos voluntarios, capaces
    de compartir su conocimiento con los demás, se desarrollan como facilitadores en clases de interes general relacionadas con la tenencia
    responsable y el cuidado canino.
</body>
<h3>Ronald Dominguez es estudiante de programación y el creador de la página de Canito.</h3>
{% endblock contenido %}